
<ion-header lines="none">
	<ion-toolbar lines="none">
<ion-title lines="none" id = "title">

<ion-button lines="none"class = "submi-btn" [routerLink]="'/tabs/simulator'">Back</ion-button>
</ion-title>
</ion-toolbar>
</ion-header>

<ion-content id = 'form' padding>
	<ion-item lines="none" id = "form">Starting over will clear all of your owned securities and reset your account balance to $5,000. Are you sure you want to continue?</ion-item>
	
	
	<ion-item id = "bot" lines="none">
	<ion-grid no-lines>
		<ion-button no-lines class = "submit-btn" [routerLink]="'/tabs/simulator'" (click) = "newGame()">Restart</ion-button>
	</ion-grid>
</ion-item>
	


</ion-content>
