*{
  color:white;
  --ion-background-color:#32a852 !important;

  font-family: "Montserrat" !important;
}

ion-title{
	--ion-background-color:#32a852;
}

#form{
	padding-top:10%;
	font-size:18px;
}

.submit-btn{


	width:50%;
 	border-radius: 20px;
 	--background: white;
 	color: #32a852;
}

.bot{
	align-items: center;
}

#sell{
	border-radius: 20px;
 	--background: white;
 	color: #32a852;
}
