<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Browse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Browse</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-item *ngFor="let stock of (browseList)" (click)="viewStock(stock)">
        <ion-label>{{stock}}</ion-label>
  </ion-item> -->
  <ion-content>
    <ion-card *ngFor="let stock of browseList" (click)="viewStock(stock)">
      <ion-img [src]="getStockImage(stock)"></ion-img>

      <ion-card-content>
        <ion-card-title>{{stock}}</ion-card-title>
      </ion-card-content>
    </ion-card>
    
  </ion-content>

</ion-content>

<div>


</div>
