<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Watchlist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Watchlist</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-card id="view-stocks">
    <!-- <ion-card-header>
      <ion-card-subtitle>{{stock.dateAdded | date: 'short'}}</ion-card-subtitle>
      <ion-card-title>{{stock.ticker}}</ion-card-title>
    </ion-card-header> -->
    <ion-list>
		<ion-item *ngFor="let stock of (stocks | async)" (click)="viewStock(stocks)" [routerLink]="'/stock-view/'+stock.ticker">
			<ion-label>{{stock.ticker}}</ion-label>
			<ion-label>${{stock.price}}</ion-label>
		</ion-item>
	</ion-list>
    </ion-card>

    <ion-list>
      <ion-item>
        <ion-input placeholder="Enter Ticker" [(ngModel)]="stock.ticker"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Enter price" [(ngModel)]="stock.price"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="primary" expand="full" (click)="addStock()">Create</ion-button>
    </ion-content>



  <ion-content>

    <div class="stock-search">
    <input [ngModel]="search"
 (ngModelChange)="searchFunc($event)" class="search-box" placeholder="Search stock..." title="Search for stock information" />

    <div class="icon-search-wrapper">
      <i class="fas fa-search"></i>
    </div>
  </div>

  <div *ngIf="searchTickers.length && show" (click)="clear() && hide()" class="stock-search-result">
    <div *ngFor="let stock of searchTickers" class="search-result-item">
      <div class="search-result-image">
        <img [src]="getStockImage(stock.symbol)" [alt]="stock.name" />
      </div>

      <div class="search-result-name">
        <strong>{{ stock.symbol }}</strong> |
        <strong>{{ stock.name }}</strong> |
        <strong>{{ stock.stockExchange }}</strong>
      </div>
    </div>
  </div>

  </ion-content>

 
</ion-content>
