<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
  <ion-searchbar
    [ngModel]="search" (ngModelChange)="searchByKeyword($event)"class="search-box" placeholder="Search news by keyword..." >
 </ion-searchbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of data?.articles" (click)="onGoToViewNewsPage(article)">
    <ion-img [src]="article.urlToImage"></ion-img>

    <ion-card-content>
      <ion-card-title>{{article.title}}</ion-card-title>

      <p>{{article.description}}</p>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMoreNews($event)">
    <ion-infinite-scroll-content loadingSpinner="bubble" loadingText="load news.."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
