<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Leaderboard
      <ion-button class = "submit-btn" [routerLink]="'/newgame/'">Restart</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Leaderboard
      	


      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-card id="view-stocks">
    <ion-list>

		<ion-item *ngFor="let stock of simlist"  >


			<ion-label [routerLink]="'/stock-view/'+stock.ticker">{{stock.ticker}}</ion-label>
			<ion-label [routerLink]="'/stock-view/'+stock.ticker">${{stock.price}}</ion-label>
      <ion-button (click) = "this.sellStock(stock)">Sell</ion-button>
		</ion-item>
	</ion-list>
    </ion-card>
    </ion-content>
</ion-content>