<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Leaderboard
      <ion-button color="primary" style = "border-radius: 20px;
  --background: white;
  color: #32a852;" [routerLink]="'/tabs/simulator/'">Back</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Leaderboard
      	


      </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-content>
   <ion-card id="view-stocks">
     <ion-list>
     <ol>




   <li *ngFor="let stock of leadersToShow"  > <ion-item lines = "none"><ion-label >{{stock.name}}</ion-label>
      <ion-label >${{stock.dailyMove}}</ion-label> </ion-item></li>



 </ol>
        </ion-list>
     </ion-card>
     </ion-content>
</ion-content>