       
 *:not(#t){
        --background: white;
 
        color: #32a852;
   --ion-background-color:white !important;
   font-family: "Montserrat" !important;
 }
 
 
   
 .bot{
 }
        
 
 
 
 
 #sell{
        border-radius: 20px;
        --background: white;
        color: #32a852;
 }

        