<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Simulator {{this.truncCost}} {{this.truncBalance}}
      <ion-button class = "submit-btn" [routerLink]="'/newgame/'">Restart</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Simulator
      	


      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-card id="view-stocks">
    <!-- <ion-card-header>
      <ion-card-subtitle>{{stock.dateAdded | date: 'short'}}</ion-card-subtitle>
      <ion-card-title>{{stock.ticker}}</ion-card-title>
    </ion-card-header> -->
    <ion-list>

		<ion-item *ngFor="let stock of simlist"  >


			<ion-label [routerLink]="'/stock-view/'+stock.ticker">{{stock.ticker}}</ion-label>
			<ion-label [routerLink]="'/stock-view/'+stock.ticker">${{stock.price}}</ion-label>
      <ion-button (click) = "this.sellStock(stock)">Sell</ion-button>
		</ion-item>
	</ion-list>
    </ion-card>
    </ion-content>
</ion-content>

<div id = wrappy">

<div (click)="open()" class="stock-search-component-small">
  <div class="stock-search">
    <input [ngModel]="search"
 (ngModelChange)="searchFunc($event)" class="search-box" placeholder="Search stock..." title="Search for stock information" />

    <div class="icon-search-wrapper">
      <i class="fas fa-search"></i>
    </div>
  </div>

  <div *ngIf="searchTickers.length && show" (click)="clear() && hide()" class="stock-search-result">
    <div *ngFor="let stock of searchTickers" class="search-result-item">
      <div class="search-result-image">
        <img [src]="getStockImage(stock.symbol)" [alt]="stock.name" />
      </div>

      <div (click)="addStockToSim(stock.symbol)" class="search-result-name">
        <strong>{{ stock.symbol }}</strong> |
        <strong>{{ stock.name }}</strong> |
        <strong>{{ stock.stockExchange }}</strong>
      </div>
    </div>
  </div>
</div>
</div>

<div style="position: relative; bottom: 0px; width: 100%">
 
  <ion-button color="primary" expand="full" (click)="goToBoard()">Add to Watchlist</ion-button>
</div>
