
<ion-header no-lines>
	<ion-toolbar no-lines>
<ion-title no-lines id = "title">Investing Guru</ion-title>
</ion-toolbar>
</ion-header>
<ion-content id = 'form' padding>
	<ion-item class = "roundedInput" id = 'username'>

		<ion-input placeholder = "Email" type = "text" [(ngModel)]="user.email" required></ion-input>
	</ion-item>
	<br/>
	<ion-item class = "roundedInput" id = 'userkname'>

		<ion-input placeholder = "Username" type = "text" [(ngModel)]="user.username" required></ion-input>
	</ion-item>
	<br/>
	<ion-item class = 'roundedInput' id ="password">

		<ion-input placeholder = "Password" type = "password" [(ngModel)]="user.password" required></ion-input>
	</ion-item>
	<br/>
	<ion-item class = 'roundedInput' id ="password">

		<ion-input placeholder = "Confirm Password" type = "password" [(ngModel)]="user.confirmPassword" required></ion-input>
	</ion-item>
	<ion-button class = "submit-btn" expand="block" type = "submit" (click)="signup();login()">Sign Up</ion-button>

	<ion-button class = "submit-btn" expand="block" type = "submit" (click)="goToLogin()">Log In</ion-button>



</ion-content>
