<ion-header>
  <ion-toolbar>
    <ion-button color = 'secondary' id = 'back' [routerLink]="'/tabs/'"> Back </ion-button>
    <ion-title>{{this.stock.ticker}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>

    <ion-img [src]="getStockImage(this.stock.ticker)" class='images'> </ion-img>
    <h1 class="padding2"> {{this.stock.name}} </h1>
    <p class="padding3"> {{this.stock.exchange}} </p>
  </ion-list>
  <!-- </ion-content>
  <ion-content> -->
  <ion-list class = "body">

    <h1 class="price">  Live Quote: ${{this.stock.price}}  </h1>

    <h1 class="padding1"[ngClass]="isPositive ? 'green': 'red'">Todays change: {{this.stock.move}} %</h1>
      <!-- <h1 [ngClass]="isPositive ? 'green': 'red'"> Percent Change: {{this.stock.move}} %</h1> -->

    <h1 class="additionalInfo"> Average Volume: {{this.stock.averageVol}} </h1>
    <h1 class="additionalInfo"> Todays Volume: {{this.stock.dailyVol}} </h1>
    <h1 class="additionalInfo"> Market Cap: ${{this.stock.marketCap}} </h1>

  </ion-list>
</ion-content>
